@import "tailwindcss";

*{

  font-family: 'Satoshi', sans-serif;
}

.noise{
  background-image: url('/noise.svg');
  background-size: cover;
  opacity: 1;
}
.text2{
  font-family: 'Clash Display', sans-serif;
}
